<h1 class="text-5xl mb-10 text-teal-300">ゲーム一覧</h1>

<div class="text-4xl flex flex-col gap-11 mb-10 text-indigo-300">
  <% @games.each do |game| %>
    <%= link_to game.name, game_path(game), class: "hover:text-amber-300" %>
  <% end %>
</div>

<div class="text-3xl text-violet-300 hover:text-lime-300">
  <%= link_to "新しいゲームを追加", new_game_path %>
</div>